{% extends "blog/base.html" %}

{% block title %}My Blog{% endblock %}

{% block content %}
    <h2>文章列表</h2><hr>
    {% for post in object_list %}
        <h3>
            <a href="{{ post.get_absolute_url }}">
                {{forloop.counter}}.{{ post.title }}
            </a>
        {% if forloop.counter <= 2  %}
            <span class="badge badge-secondary">New</span>
        {% endif %}
        </h3>
        <h6 class="text-muted">
            Published {{ post.publish }} by {{ post.author }}
        </h6>
        <p class="text-dark">
            {{ post.body|truncatewords:30|linebreaks }}
        </p><hr>
    {% endfor %}
    {% include 'blog/pagination.html' %}
{% endblock %}
